<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>페이징 연습</title>
</head>

<body>
<h2>선수를 검색합니다.</h2>
<hr/>
    <form th:object="${searchForm}" th:method="get" action="">
        <div>
            <input type="text" th:field="*{name}" th:value="*{name}" placeholder="이름" style="margin-right: 20px">
            <input type="number" th:field="*{startSal}" th:value="*{startSal}" placeholder="연봉 시작값" style="margin-right: 20px">
            <input type="number" th:field="*{endSal}" th:value="*{endSal}" placeholder="연봉 끝값" style="margin-right: 20px">
            <button type="submit">검색</button>
        </div>
    </form>
<br><br><br>
<h2>검색한 조건은 다음과 같습니다. (정렬 : 연봉 내림차순)</h2>
<hr/>
<h3>선수 이름 : '[[${searchForm.name}]]' 을 포함하는 이름</h3>
<h3>선수 연봉 : [[${searchForm.startSal}]] 억과 [[${searchForm.endSal}]] 억 사이</h3>
<br>
<table style="text-align: center">
    <thead>
    <tr>
        <th>선수 이름</th>
        <th>소속 팀</th>
        <th>선수 연봉</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="player : ${players}">
        <td th:text="${player.name}"></td>
        <td th:text="${player.team}"></td>
        <td th:text="${player.salary}"></td>
    </tr>
    </tbody>
</table>
<br><br>
<button th:disabled="${!players.hasPrevious()}"
        th:onclick="|location.href='@{/(page=${players.getNumber()}, name=${searchForm.getName()}, startSal=${searchForm.getStartSal()}, endSal=${searchForm.getEndSal()} )}'|">
    이전</button>
<span>[[${players.getNumber() + 1}]] / [[${players.getTotalPages()}]] 페이지</span>
<button th:disabled="${!players.hasNext()}"
        th:onclick="|location.href='@{/(page=${players.getNumber() + 2}, name=${searchForm.getName()}, startSal=${searchForm.getStartSal()}, endSal=${searchForm.getEndSal()} )}'|">
    다음</button>
<br><br>

</body>
</html>